@import "./_common";

h1 {
  display: flex;
  justify-content: center;
}

h5 {
  background-color: rgba($color: $background-color, $alpha: 0.5);
}

.blog-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;

  .card {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;

    img {
      height: 200px;
      width: 250px;
      padding-top: 5px;
    }

    h5 {
      text-align: center;
      font-size: 1em;
    }

    .card-body {
      position: absolute;
      bottom: 0;
    }

    a {
      font-size: 20px;
      display: block;
      width: 244px;
      text-align: center;
    }

  }
  
  .card:hover {
    transform: scale(1.15);
  }
}

@media (width>1200px) {
  .blog-cards {
    flex-wrap: nowrap;
    height: 350px;
  }
}
