@import "./_common";

// search bar top left
.search-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}

.search-button {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  float: right;
  background-color: white;
}

.search-button:hover {
  background-color: lightgray;
  box-shadow: 2px 2px 2px 2px white;
}

#clickme {
  height: 100px;
  width: 80px;
  transform:
    translateX(-11px) translateY(-19px) rotate(-15deg);
}

.parent-typing-effect {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  padding: 0 40px;
  background-color: white;
}
// blinking effect animation
#typing-effect {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
}

@keyframes typing-animation {
  0% {
    border-right: none;
  }

  50% {
    border-right: 1px solid black;
  }
}


// pagination to navigate between tabs
.pagination {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;

  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    width: 130px;
    text-align: center;
    font-size: 1.5em;

  }
  // shows present working tab
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
}

.experience {
  border: 1px solid black;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;

  h2 {
    font-size: 1em;
  }
}
// mobile view
@media screen and (max-width:600px) {
  .search-container {
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    padding-left: 0px;

  }

  .pagination {
    display: inline-block;
    margin-top: 25px;


    a {
      width: 75px;


    }

  }
}
// mobile to tablet view
@media (min-width:600px) and (max-width:900px) {
  .search-container {
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    padding-left: 0px;

  }

  .pagination {
    display: inline-block;
    margin-top: 40px;


    a {
      width: 90px;


    }

  }
}
// tablet to desktop view
@media (min-width:900px) and (max-width:1200px) {
  .search-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 25px;
  }

  .pagination {
    display: inline-block;
    margin-top: 40px;
  }


}