@import "./_common";

#lookup-logo {
  width: 700px;
  height: 350px;
}

#clickme {
  height: 150px;
  width: 120px;
  transform: translateX(-27px) translateY(-39px) rotate(-15deg);
}

.parent-typing-effect {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  padding: 0 40px;
  background-color: white;
}

#typing-effect {
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-animation 1s, change-width 5s steps(32, end);
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes change-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes typing-animation {
  0% {
    border-right: none;
  }

  50% {
    border-right: 2px solid black;
  }
}

.typography {
  margin: 100px;
  font-size: 2rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  height: 70px;
  transform: translateY(-40px);

}

.search-engine {
  display: flex;
  justify-content: center;
}

.search-button {
  padding: 8px;
  border: 1px solid black;
  height: 52px;
  width: 54px;
  margin-left: 10px;
  float: right;
  background-color: white;
  animation-name: search;
  animation-duration: .4s;
  animation-delay: 2s;
}

.search-button:hover {
  background-color: lightgray;
  box-shadow: 2px 2px 2px 2px white;
}

@keyframes search {
  0% {
    background-color: none;
  }

  98% {
    background-color: none;
  }

  99% {
    background-color: rgb(180, 180, 180);
  }

  100% {
    background-color: none;
  }

}

@media screen and (max-width: 635px) {
  .search-engine {
    display: flex;
    justify-content: center;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-button {
    margin-top: 5px;
  }
}