body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body header {
  display: flex;
  justify-content: flex-start;
  height: 64px;
  width: 100%;
  background-color: rgb(180, 180, 180);
  text-align: center;
  border-top: 10px solid rgb(180, 180, 180);
  border-bottom: 10px solid rgb(180, 180, 180);
}
body header p {
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-left: 400px;
  margin-top: 10px;
}

a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  border: 1px solid black;
  background-color: rgb(180, 180, 180);
}

a:hover {
  background-color: white;
}

.dropbtn {
  cursor: pointer;
  padding: 8px;
  width: 250px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  border: 1px solid black;
  background-color: rgb(180, 180, 180);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

html {
  height: 100%;
}

body {
  background-color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  height: 64px;
  width: 100%;
  background-color: rgb(180, 180, 180);
  text-align: center;
  border-top: 10px solid rgb(180, 180, 180);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: rgb(180, 180, 180);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

#lookup-logo {
  width: 700px;
  height: 350px;
}

#clickme {
  height: 150px;
  width: 120px;
  transform: translateX(-27px) translateY(-39px) rotate(-15deg);
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.parent-typing-effect {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  width: 450px;
  float: left;
}

#typing-effect {
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-animation 1s, change-width 5s steps(32, end);
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes change-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing-animation {
  0% {
    border-right: none;
  }
  50% {
    border-right: 2px solid black;
  }
}
body {
  font-size: 24px;
}

.typography {
  margin: 100px;
  font-size: 2rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  height: 70px;
  transform: translateY(-40px);
}

.search-engine {
  display: flex;
  justify-content: center;
}

.search-button {
  border: 1px solid black;
  height: 52px;
  width: 54px;
  margin-left: 10px;
  float: right;
  background-color: white;
  animation-name: search;
  animation-duration: 0.4s;
  animation-delay: 2s;
}

.search-button:hover {
  background-color: lightgray;
  box-shadow: 2px 2px 2px 2px white;
}

@keyframes search {
  0% {
    background-color: none;
  }
  98% {
    background-color: none;
  }
  99% {
    background-color: rgb(180, 180, 180);
  }
  100% {
    background-color: none;
  }
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dropbtn {
  cursor: pointer;
  padding: 8px;
  padding-left: 78px;
  padding-right: 78px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  border: 1px solid black;
  background-color: rgb(180, 180, 180);
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
}

a {
  padding: 8px;
  margin-right: 8px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  border: 1px solid black;
  background-color: rgb(180, 180, 180);
}

a:hover {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 635px) {
  header {
    width: 100%;
  }
  .dropdown {
    display: inline-block;
  }
  .button-container {
    display: none;
  }
  .search-engine {
    display: flex;
    justify-content: center;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */