@import "./_common";

.search-container {
  display: flex;
  justify-content: flex-start;
  transform: translateY(-40px);
  padding-left: 50px;

}

.search-engine {
  display: flex;
  justify-content: center;
}

.search-button {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  float: right;
  background-color: white;
  animation-name: search;
  animation-duration: .4s;
  animation-delay: 2s;

}

.search-button:hover {
  background-color: lightgray;
  box-shadow: 2px 2px 2px 2px white;
}

#clickme {
  height: 100px;
  width: 80px;
  transform:
    translateX(-11px) translateY(-19px) rotate(-15deg);
}

.parent-typing-effect {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  padding: 0 40px;
}

#typing-effect {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
}

@keyframes typing-animation {
  0% {
    border-right: none;
  }

  50% {
    border-right: 1px solid black;
  }
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-decoration: underline;
  color: blue;
  margin: 0;
}

h1:hover {
  color: rebeccapurple;
}

img {
  height: 300px;
  width: 220px;
  padding-left: 100px;
  margin-top: 25px;
}

.search-answer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  .bio {
    width: 50%;
    height: 400px;
    font-size: 20px;
    padding-left: 50px;
  }
}

@media screen and (max-width:600px) {
  .search-container {
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    padding-left: 0px;

  }

  h1 {
    margin-top: 30px;
  }


  .search-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      display: flex;
      justify-content: center;
      height: 350px;
      width: 55%;

    }

    .bio {
      justify-content: center;
      align-items: center;
      text-align: center;


    }
  }
}